.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}
.movieImage{
    border-radius: 10px;
    background-color: blue;
}

.movieImage:hover{
    opacity: 0.5;
}

@media (max-width: 560px) {
    .moviesImage{
        width: 100%;
        height: auto;
    }
    
}
